.completed-task {
    text-decoration: line-through;
    color: #abdfbe !important;
}

.todo-text {
    width: 70%;
    word-wrap: break-word;
}

/* moves completed task to the right */
.completed-task span { 
    position: relative;
    left: 30px;
}

tr td:last-of-type {
    align-self: right;
}
