body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(rgb(198, 210, 255), rgb(254, 179, 212));
    font-family: 'Noto Sans KR', sans-serif;
}

table {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: rgb(33, 35, 91);
    letter-spacing: 1px;
    font-weight: 900;
    margin-bottom: 25px;
}

tr {
    border-color: rgba(123, 113, 171, 0);
}

#character-count-text {
    color: rgb(81, 83, 92);
    margin-bottom: 5px;
    margin-left: 9%;
    font-size: 12px;
}

.todo-list-container {
    margin-top: 40px;
    /* border: 1px solid #b8b8b8; */
    padding-bottom: 15px;
    border-radius: 10px;
    background-color: rgba(123, 113, 171, 0.351);
}

.completed-task {
    color: #c6c6c6 !important;
}

.todo-text {
    width: 70%;
    word-wrap: break-word;
}

/* moves completed task to the right */
.completed-task span, .completed-task i { 
    position: relative;
    left: 30px;
}

tr td:last-of-type {
    align-self: right;
}

.checkbox-style {
    font-size: 17px;
    margin-left: 3px;
    margin-right: 5px;
}
