body {
    background-color: rgb(242, 244, 255);
}

table {
    background-color: white;
}

.completed-task {
    color: #c6c6c6 !important;
}

.todo-text {
    width: 70%;
    word-wrap: break-word;
}

/* moves completed task to the right */
.completed-task span, .completed-task i { 
    position: relative;
    left: 30px;
}

tr td:last-of-type {
    align-self: right;
}
